.song {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding: 1rem;
    border-top: #282c34 solid 2px;
    border-bottom: #282c34 solid 2px;
    opacity: 1;
    transition: opacity 0.3s;
}

.song-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2rem;
}

.song-title {
    font-size: 14px;
    margin-right: 2rem;
}

.song-duration {
    font-size: 14px;
}


.remove-button {
    font-size: 0.8rem;
}